<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect 1 - offers" stopProcessing="true">
          <match url="^offers$" />
          <action type="Redirect" url="https://holidayinnclub.com/explore-resorts/grand-residences-resort?utm_source=https://grandresidencesrivieracancun.com/offers&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 2 - company-announcement-2023" stopProcessing="true">
          <match url="^company-announcement-2023$" />
          <action type="Redirect" url="https://hicv.com/newsroom/royal-resorts-acquisition-announcement?utm_source=https://grandresidencesrivieracancun.com/company-announcement-2023&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 3 - es-anuncio-de-la-compania-2023" stopProcessing="true">
          <match url="^es/anuncio-de-la-compania-2023$" />
          <action type="Redirect" url="https://hicv.com/newsroom/royal-resorts-acquisition-announcement?utm_source=https://grandresidencesrivieracancun.com/es/anuncio-de-la-compania-2023&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 4 - es-gms-login" stopProcessing="true">
          <match url="^es/gms/login$" />
          <action type="Redirect" url="https://www.holidayinnclub.com/mexico-resorts?utm_source=https://grandresidencesrivieracancun.com/es/gms/login&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 5 - es-gms-sign-up" stopProcessing="true">
          <match url="^es/gms/sign-up$" />
          <action type="Redirect" url="https://www.holidayinnclub.com/mexico-resorts?utm_source=https://grandresidencesrivieracancun.com/es/gms/sign-up&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 6 - es-ofertas" stopProcessing="true">
          <match url="^es/ofertas$" />
          <action type="Redirect" url="https://holidayinnclub.com/explore-resorts/grand-residences-resort?utm_source=https://grandresidencesrivieracancun.com/es/ofertas&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 7 - root" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="https://holidayinnclub.com/explore-resorts/grand-residences-resort?utm_source=https://grandresidencesrivieracancun.com/&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 8 - about-us" stopProcessing="true">
          <match url="^about-us$" />
          <action type="Redirect" url="https://holidayinnclub.com/explore-resorts/grand-residences-resort?utm_source=https://grandresidencesrivieracancun.com/about-us&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 9 - es" stopProcessing="true">
          <match url="^es$" />
          <action type="Redirect" url="https://holidayinnclub.com/explore-resorts/grand-residences-resort?utm_source=https://grandresidencesrivieracancun.com/es&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 10 - es-acerca-de-nosotros" stopProcessing="true">
          <match url="^es/acerca-de-nosotros$" />
          <action type="Redirect" url="https://holidayinnclub.com/explore-resorts/grand-residences-resort?utm_source=https://grandresidencesrivieracancun.com/es/acerca-de-nosotros&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 11 - suites-and-villas" stopProcessing="true">
          <match url="^suites-and-villas$" />
          <action type="Redirect" url="https://holidayinnclub.com/explore-resorts/grand-residences-resort/accommodations?utm_source=https://grandresidencesrivieracancun.com/suites-and-villas&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 12 - es-suites-y-villas" stopProcessing="true">
          <match url="^es/suites-y-villas$" />
          <action type="Redirect" url="https://holidayinnclub.com/explore-resorts/grand-residences-resort/accommodations?utm_source=https://grandresidencesrivieracancun.com/es/suites-y-villas&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 13 - media-room" stopProcessing="true">
          <match url="^media-room$" />
          <action type="Redirect" url="https://www.holidayinnclub.com/explore-resorts/grand-residences-resort?utm_source=https://grandresidencesrivieracancun.com/media-room&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 14 - gallery" stopProcessing="true">
          <match url="^gallery$" />
          <action type="Redirect" url="https://holidayinnclub.com/explore-resorts/grand-residences-resort/photo-gallery?utm_source=https://grandresidencesrivieracancun.com/gallery&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 15 - es-cuarto-de-prensa" stopProcessing="true">
          <match url="^es/cuarto-de-prensa$" />
          <action type="Redirect" url="https://holidayinnclub.com/explore-resorts/grand-residences-resort/photo-gallery?utm_source=https://grandresidencesrivieracancun.com/es/cuarto-de-prensa&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 16 - es-galeria" stopProcessing="true">
          <match url="^es/galeria$" />
          <action type="Redirect" url="https://holidayinnclub.com/explore-resorts/grand-residences-resort/photo-gallery?utm_source=https://grandresidencesrivieracancun.com/es/galeria&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 17 - resort-policies" stopProcessing="true">
          <match url="^resort-policies$" />
          <action type="Redirect" url="https://holidayinnclub.com/explore-resorts/grand-residences-resort?utm_source=https://grandresidencesrivieracancun.com/resort-policies&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 18 - es-politicas-del-desarrollo" stopProcessing="true">
          <match url="^es/politicas-del-desarrollo$" />
          <action type="Redirect" url="https://holidayinnclub.com/explore-resorts/grand-residences-resort?utm_source=https://grandresidencesrivieracancun.com/es/politicas-del-desarrollo&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 19 - contact" stopProcessing="true">
          <match url="^contact$" />
          <action type="Redirect" url="https://holidayinnclub.com/explore-resorts/grand-residences-resort?utm_source=https://grandresidencesrivieracancun.com/contact&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 20 - es-contacto" stopProcessing="true">
          <match url="^es/contacto$" />
          <action type="Redirect" url="https://holidayinnclub.com/explore-resorts/grand-residences-resort?utm_source=https://grandresidencesrivieracancun.com/es/contacto&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 21 - activities-and-amenities" stopProcessing="true">
          <match url="^activities-and-amenities$" />
          <action type="Redirect" url="https://www.holidayinnclub.com/explore-resorts/grand-residences-resort?utm_source=https://grandresidencesrivieracancun.com/activities-and-amenities&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 22 - es-actividades-y-amenidades" stopProcessing="true">
          <match url="^es/actividades-y-amenidades$" />
          <action type="Redirect" url="https://www.holidayinnclub.com/explore-resorts/grand-residences-resort?utm_source=https://grandresidencesrivieracancun.com/es/actividades-y-amenidades&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 23 - dining" stopProcessing="true">
          <match url="^dining$" />
          <action type="Redirect" url="https://www.holidayinnclub.com/explore-resorts/grand-residences-resort?utm_source=https://grandresidencesrivieracancun.com/dining&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 24 - es-restaurantes" stopProcessing="true">
          <match url="^es/restaurantes$" />
          <action type="Redirect" url="https://www.holidayinnclub.com/explore-resorts/grand-residences-resort?utm_source=https://grandresidencesrivieracancun.com/es/restaurantes&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 25 - all-inclusive" stopProcessing="true">
          <match url="^all-inclusive$" />
          <action type="Redirect" url="https://www.holidayinnclub.com/cancun-mexico-all-inclusive?utm_source=https://grandresidencesrivieracancun.com/all-inclusive&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 26 - es-todo-incluido" stopProcessing="true">
          <match url="^es/todo-incluido$" />
          <action type="Redirect" url="https://www.holidayinnclub.com/cancun-mexico-all-inclusive?utm_source=https://grandresidencesrivieracancun.com/es/todo-incluido&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 27 - wedding-and-groups" stopProcessing="true">
          <match url="^wedding-and-groups$" />
          <action type="Redirect" url="https://www.holidayinnclub.com/cancun-mexico-weddings?utm_source=https://grandresidencesrivieracancun.com/wedding-and-groups&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 28 - es-bodas-y-grupos" stopProcessing="true">
          <match url="^es/bodas-y-grupos$" />
          <action type="Redirect" url="https://www.holidayinnclub.com/cancun-mexico-weddings?utm_source=https://grandresidencesrivieracancun.com/es/bodas-y-grupos&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 29 - privacy-policy" stopProcessing="true">
          <match url="^privacy-policy$" />
          <action type="Redirect" url="https://holidayinnclub.com/privacy-policy?utm_source=https://grandresidencesrivieracancun.com/privacy-policy&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 30 - es-politica-de-privacidad" stopProcessing="true">
          <match url="^es/politica-de-privacidad$" />
          <action type="Redirect" url="https://holidayinnclub.com/privacy-policy?utm_source=https://grandresidencesrivieracancun.com/es/politica-de-privacidad&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 31 - destination" stopProcessing="true">
          <match url="^destination$" />
          <action type="Redirect" url="https://holidayinnclub.com/explore-resorts/grand-residences-resort?utm_source=https://grandresidencesrivieracancun.com/destination&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 32 - es-destino" stopProcessing="true">
          <match url="^es/destino$" />
          <action type="Redirect" url="https://holidayinnclub.com/explore-resorts/grand-residences-resort?utm_source=https://grandresidencesrivieracancun.com/es/destino&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 33 - gms-sign-up" stopProcessing="true">
          <match url="^gms/sign-up$" />
          <action type="Redirect" url="https://www.holidayinnclub.com/mexico-resorts?utm_source=https://grandresidencesrivieracancun.com/gms/sign-up&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 34 - gms-login" stopProcessing="true">
          <match url="^gms/login$" />
          <action type="Redirect" url="https://www.holidayinnclub.com/mexico-resorts?utm_source=https://grandresidencesrivieracancun.com/gms/login&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 35 - gms-forgot-password" stopProcessing="true">
          <match url="^gms/forgot-password$" />
          <action type="Redirect" url="https://www.holidayinnclub.com/mexico-resorts?utm_source=https://grandresidencesrivieracancun.com/gms/forgot-password&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 36 - es-gms-forgot-password" stopProcessing="true">
          <match url="^es/gms/forgot-password$" />
          <action type="Redirect" url="https://www.holidayinnclub.com/mexico-resorts?utm_source=https://grandresidencesrivieracancun.com/es/gms/forgot-password&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
        <rule name="Redirect 37 - faqs" stopProcessing="true">
          <match url="^faqs$" />
          <action type="Redirect" url="https://holidayinnclub.com/explore-resorts/grand-residences-resort?utm_source=https://grandresidencesrivieracancun.com/faqs&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>

        <rule name="Catch-all site migration" stopProcessing="true">
          <match url=".*" />
          <action type="Redirect" url="https://www.holidayinnclub.com/mexico-resorts?utm_source=https://grandresidencesrivieracancun.com{REQUEST_URI}&amp;utm_medium=redirect&amp;utm_campaign=site-migration" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
